body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 2rem;
}

h2 {
  text-align: center;
}

hr {
  margin: 2rem;
}

#homeLink, #homeLink:hover, #homeLink:active {
  text-decoration: none;
  color: black;
}

.card {
  width: 30rem;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#homeLink p {
  font-weight: bold;
  font-size: 2rem;
}

form {
  text-align: left;
  width: 50%;
  margin: 2rem auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

form label {
  font-weight: bold;
}