@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Dough Tasty</h1>
  <hr>
  <div class="cardRow">
    <a id="homeLink" href="/vendors">
      <div class="card">
        <img class="card-img-top" src="~/img/vendor.jpg" alt="Picture of vendor">
        <div class="card-body">
          <p class="card-text">Vendors</p>
        </div>
      </div>
    </a>
    <a id="homeLink" href="#">
      <div class="card">
        <img class="card-img-top" src="~/img/products.jpg" alt="Picture of vendor">
        <div class="card-body">
          <p class="card-text">Products</p>
        </div>
      </div>
    </a>
  </div>
</div>